.container {
  margin: auto;
  max-width: 900px;

  &__group {
    margin: auto;
    margin-bottom: 80px;
  }

  &__slider {
    margin: auto;
    padding: 0 60px;
    margin-bottom: 30px;
  }

  &__panel {
    padding: 0 20px;
    max-width: max-content;
    margin: auto;
  }
}
