.container {
  margin: auto;
  margin-top: 10px;
  max-width: 900px;

  &__group {
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    background: #f5f5f5;
  }

  &__slider {
    margin: auto;
    margin-bottom: 10px;
  }

  &__panel {
    max-width: max-content;
    margin: auto;
  }
}
