.slider__tip{
    position: absolute;    
    padding: 0px 5px;    
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;    

    user-select: none;
    font-size: 14px;    
    font-family: Tahoma, sans-serif;
    background: rgba(31, 32, 65, 0.25);
    border-radius: 3px;
    color: white;  
}