.slider__pointer{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 1.1em;
    height: 1.1em;    
    box-sizing: border-box;      
    border-radius: 0.55em;    
    z-index: 3;
    cursor: pointer;    
    user-select: none;    
    background: var(--slider-primary-color);
    top: 50%;
}

.slider__container_vertical .slider__pointer{
    left: 50%;
}