@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --slider-primary-color: #47ad72;
    --slider-white-color: white;
    --slider-gray-color: #3f3f3f;
    --slider-lightgray-color: #999999;
    --slider-main-size: 20px;
}

.slider__container{   
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    font-size: var(--slider-main-size);
    font-family: "Montserrat";
    font-weight: bold;

    padding: 1em;    
}

.slider__tips-container{
    position: relative;
    height: 1.25em;
    flex-basis: 100%;    
}

.slider__bar-container{
    position: relative;
    height: 1.25em;
    flex-basis: 100%;    

    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__scale-container{
    position: relative;
    height: 1.25em;
    flex-basis: 100%;   

    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__container_vertical{      
    height: inherit;    
    flex-flow: row;
    column-gap: 0.2em;
}

.slider__container_vertical > *{      
    height: inherit;
    max-width: 1.5em;    
}