:root {
  --panel-primary-color: #47ad72;
  --panel-white-color: white;
  --panel-gray-color: #3f3f3f;
  --panel-lightgray-color: #999999;
  --panel-mainsize: 15px;
}

.panel__container{
  max-width: max-content;
  font-family: 'Sans-Serif';
  font-style: normal;
  font-weight: bold;
  font-size: var(--panel-mainsize);
  -webkit-tap-highlight-color: transparent;
}

.panel__inputs-container{
  max-width: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5em;
  margin-bottom: 1.5em;
}

.panel__toggles-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
}

@media screen and (max-width: 900px){
  .panel__container{
    display: flex;
    gap: 1.3em;
    font-size: 14px;
  }

  .panel__inputs-container{
    flex-flow: column;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .panel__toggles-container{
    flex-flow: column;
    justify-content: space-between;
  }
}