.input{
  display: flex;
  color: var(--panel-white-color);
  width: max-content;
  height: 2.4em;
}

.input__title{
  min-width: 4em;
  border-radius: 1.2em 0 0 1.2em;
  background: var(--panel-primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.input__textarea{
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: var(--panel-gray-color);
  max-width: 6em;
  padding: 0 0.5em;
  border-radius: 0 1.2em 1.2em 0;
  box-sizing: border-box;
  border: 1px solid var(--panel-primary-color);
  background: var(--panel-white-color);
  outline: none;
}

.input_blocked .input__title{
  background: var(--panel-lightgray-color);
}

.input__textarea:disabled{
  border-color: var(--panel-lightgray-color);
  color: var(--panel-lightgray-color);
}